<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>feeds</title>
  </head>
  <body>
    <div class="flex-container">
      <section>
        <%= render "shared/navbarFeeds" %>
        </section>
      </div>
        <div class="feed">
          <h2 class = "feed_header">home</h2>
          <div class="tweetBox">
            <form>
              <div class="tweetBoxInput">
                <img src="https://www.pngarts.com/files/3/Avatar-PNG-Pic.png" alt="Avatar" class = "img_avatar">
                <input type="text" name="" value="" placeholder="whats happening" id = "tweetBoxInput">
              </div>
              <button type="button" name="button" id = "Post_tweet"><span class = "button-text">Tweet</span></button>
            </form>
          </div>
        </div
        <div class="search-feature">
          <div class="search-input">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Search Twitter" class = "search_twitter"/>
          </div>
        </div>
  </body>
</html>
