<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main page</title>
  </head>
  <body>
    <%= render "shared/navbar" %>
          <div class="main">
            <div class="container">
              <div class="row">
                  <div class="col-6 welcome">
                    <div id="welcome">
                      <h1 class = "text-white text-wrap mt-4"><strong>Welcome to Twitter</strong></h1>
                      <p class = "text-white">Connect with your friends and other fascinating people. Get in-the-moment updates on the things that interest you</p>
                    </div>
                    <button type="button" class="btn btn-info">log in</button>
                    <button type="button" class="btn btn-info">Sign up</button>
                  </div>
              </div>
            </div>
          </div>
          <%= render "shared/footer" %>
      </body>
</html>
