<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 login text-align-center">
          <form class="" action="index.html" method="post">

          </form>
        </div>
      </div>
    </div>
</html> -->
