<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <footer class="text-center text-dark fixed-bottom d-lg-flex main-footer" style="background-color: white">
      <!-- Grid container -->
    <div class="container">
      <div class="container pt-3">
        <!-- Section: Social media -->
        <section>
          <!-- Portfolio -->
          <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fas fa-laptop-code"></i></a>

          <!-- Github -->
          <a class="btn btn-outline-dark btn-floating m-1" href="https://github.com/thoque579" target = "_blank" role="button"><i class="fab fa-github"></i></a>

          <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
        </section>
    </div>
      <!-- Grid container -->
      <div class="text-center pt-0">
        This is a Twitter clone you can test out. Enjoy!
      </div>
        <!-- Copyright -->
      <div class="text-center p-2" style="background-color: white;">
          © 2020 Copyright: TwitterFullstack Clone

      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
