.static_pages.feeds {
  background-color: rgb(179,242,255);

  #upload-image-btn {
    cursor: pointer;
    margin-right: 20px;
  }

  .pull-right {
    margin-left: 700px;
    margin-bottom: 30px;
  }


  .post-input {
    margin-left: 80px;
    width: 800px;
    margin-top: 30px;
  }
}
