.static_pages.feeds {
  display: flex;
  height: 200vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

  .side-bar {
    list-style: none;
    margin: 0;
    border-right: 1px solid #e8f5fe;
  }

  .sideNavOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
  }
  .sideNavOption:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #50b7f5;
    transition: color 100ms ease-out;
    width: 200px;
  }
  .icon-text {
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
  }

  .tweet-button {
    height: 50px;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px;
    border: none;
    width: 250px;
    background-color: #50b7f5;
    border-radius: 30px;
    color: white;
  }

  .tweet-button:hover {
    color: #e8f5fe;
    background-color: #50b7f5;
  }

  .sideNavOptionMain > .fa-twitter {
    color: #50b7f5;
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
  }


  .feed {
    flex: 1;
    border-right: 1px solid #e8f5fe;
    min-width: fit-content;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
  }

  .feed_header {
    font-size: 20px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 20px;
    border: 1px solid #e8f5fe;

  }

  .feed::-webkit-scrollbar {
    display: none;
  }

  .side-navbar {
    overflow-y: scroll;
    -ms-overflow-style: none;
  }

  .side-navbar::-webkit-scrollbar {
    display: none;
  }

  .tweetBox {
    padding-bottom: 10px;
    border-bottom: 5px solid #e8f5fe;
    padding-right: 10px;
  }

  .tweetBox > form {
      display: flex;
      flex-direction: column;
  }

  #Post_tweet {
     background-color: #50b7f5;
     border: none;
     color: white;
     font-weight: 400;
     text-transform: inherit;
     border-radius: 30px;
     width: 80px;
     height: 40px;
     margin-top: 20px;
     margin-left: auto;
  }

  .img_avatar {
    border-radius: 50%;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .img_avatar_tweet {
    border-radius: 50%;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
  }


  #tweetBoxInput {
    padding: 20px;
  }

  #tweetBoxInput {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    width: 500px;
    border-radius: 20px;
  }

  .search-input {
    display: flex;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    background-color:  #e8f5fe;
    border-radius: 10px;
    align-content: flex-start;
    flex-direction: column;
  }

  .search-input input[type=text] {
    padding-left: 40px;
    margin-left: 10px;
  }

  .search-input {
    position: relative;
  }

  .search-input  i {
    position: absolute;
    margin-top: 15px;
    margin-left: 40px;
    left: 0;
    color: grey;
  }

  .search_twitter {
    border-radius: 20px;
    border-style: hidden;
    padding: 10px 8px;
  }

  .search_twitter:focus input[type=text] {
    border-color: #e8f5fe;
  }

  .anchor-links {
    text-decoration: none;
    color: black;
  }

  .anchor-links:hover {
    color: #50b7f5;
  }

  .trends-section {
    display: flex;
    flex-direction: column;
  }

  .trend-section {
    padding: 20px;
    background-color:ghostwhite;
    border-radius: 20px;
  }

  .trend {
    padding-top: 10px;
    cursor: pointer;

  }

  .trend:hover {
    color: lightblue;
  }

  #tweetBoxInputModal {
    padding: 20px;
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    margin-top: 10px;
    width: 700px;
    border-radius: 20px;
    border: none;
  }

  #Post_tweet_modal {
      border: none;
      color: white;
      border-radius: 30px;
    	background-color: #1DA1F2;
      border-color: #1DA1F2;

  }

  #Post_tweet_modal:hover {
    	background-color: #1DA1F2;
      transition: 200ms ease-out;

  }

  #delete {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 50px;
  }

  .content {
    margin-left: 80px;
    margin-top: 10px;
  }

  .current-user {
    position: absolute;
    top: 0;
    margin-left: 30px;
    padding-bottom: 10px;
  }

  #test-card {
    padding: 10px 10px 10px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .username {
    position: absolute;
    top: 0;
    margin-left: 80px;
    margin-top: 18px;
  }

  .user {
    position: absolute;
    top: 0;
    margin-left: 200px;
    margin-top: 18px;
  }

  #logout {
    background-color: #1DA1F2;
    border-radius: 20px;
    border-style: none;
  }

  .userInfo {
    margin-bottom: 20px;
  }

 }
