.static_pages.home {
  background-image: url("https://cdn.wallpapersafari.com/7/20/TlRLvY.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .fa-twitter {
    color: #50b7f5;
  }

}
