.static_pages.login {
  background-color: #50b7f5;
  background-repeat: no-repeat;
  background-size: cover;

  #login-container {
    background-color: #fff;
    border-radius: 30px;
    margin: 25px auto auto auto;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .navbar-brand {
    color: #50b7f5;
  }

  .navbar-brand:hover {
    border-color: #e8f5fe;
  }

  .signup-button {
    border-radius: 50px;
    background-color: #50b7f5;
    width: 100px;
  }

  .main-heading {
    margin-top: 20px;
  }
  
}
