.static_pages.signup {
  background-image: url("http://s1.picswalls.com/wallpapers/2016/06/06/beach-desktop-wallpapers_090608503_305.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  .signup {
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    text-align: center;
  }
}
